
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(href='../../../css/templateCss/bootstrap.min.css' rel='stylesheet')
link(href='../../../css/templateCss/font-awesome.min.css' rel='stylesheet')
link(href='../../../css/templateCss/datepicker3.css' rel='stylesheet')
link(href='../../../css/templateCss/styles.css' rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
script(defer=true src='../../../js/templateJs/jquery-1.11.1.min.js')
script(defer=true src='../../../js/templateJs/bootstrap.min.js')
script(defer=true src='../../../js/templateJs/chart.min.js')
script(defer=true src='../../../js/templateJs/chart-data.js')
script(defer=true src='../../../js/templateJs/easypiechart.js')
script(defer=true src='../../../js/templateJs/easypiechart-data.js')
script(defer=true src='../../../js/templateJs/bootstrap-datepicker.js')
script(defer=true src='../../../js/templateJs/custom.js')
script(src="/sweetalert/dist/sweetalert.min.js")


